@import "../../styles/_variables";
@import "../../styles/_mixins";

.invitation-form__container {
  float: right;
  & .invitation-form__input {
    @include simple-input;
    margin-right: 4px;
    font-size: 0.9em;
  }
}

.business-settings__sidebar {
  padding: 32px;
  width: 280px;
  max-width: 280px;
  & .business-settings__links__container {
    & .card-list__item {
      padding: 12px;
    }
  }
}

.business-settings-page {
  padding: 0 32px;
  display: flex;
  flex-direction: row;
}

.business-settings__content {
  padding: 32px 12px;
  flex: 1;
}

.account-activation-card {
  & .card__body {
    font-size: 0.85em;
    color: lighten($text-color, 15);
  }
  & .account-activation-card__success-icon {
    color: $success-accent;
  }
  & .account-activation-card__needs-action-label {
    text-transform: uppercase;
    font-size: 0.7em;
    color: white;
    padding: 4px 8px;
    background-color: $warning-accent;
    border-radius: 3px;
  }
}
