/* Variables */

@import "_variables";
@import "grid";
@import "card";
@import "button";

/* Styles */
body {
  font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
  line-height: 1.4em;
  color: $text-color;
  background-color: $background-color;
  margin: 0 auto;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  font-smoothing: antialiased;
  font-weight: 300;
}

h2 {
	color: blue;
}

.navbar {
  height: 56px;
  padding: 18px 0;
  box-sizing: border-box;
  border-bottom: 2px solid rgb(240, 240, 240);
  background-color: white;
  & a, a:active, a:visited {
    font-weight: bold;
    text-decoration: none;
    margin-right: 52px;
    color: rgb(93, 93, 93);
  }
}

.top-spaced {
  margin-top: 32px;
}

.pull-right {
  float: right;
}
