/* Variables */

@import "_variables";
@import "grid";
@import "card";
@import "button";

/* Styles */
body {
  font: 14px -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";;
  line-height: 1.4em;
  color: $text-color;
  background-color: $background-color;
  margin: 0 auto;
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-font-smoothing: antialiased;
  font-smoothing: antialiased;
  font-weight: 400;
}

.top-spaced {
  margin-top: 32px;
}

.pull-right {
  float: right;
}

.hidden {
  display: none;
}
