@import "_variables";

.card {
  background-color: white;
  border-radius: $card-border-radius;
  box-sizing: border-box;
  box-shadow: $card-box-shadow;
  padding: 36px;
  margin: 24px 0;
}

.card-full {
  width: 100%;
}
