@import '_variables';

.react-datepicker {
  box-shadow: $card-box-shadow;
  border: none;
  color: $text-color;
}

.react-datepicker__header {
  background-color: white;
  border-bottom: 1px solid $lighter-grey;
}

.react-datepicker-popper[data-placement^="bottom"] .react-datepicker__triangle, .react-datepicker-popper[data-placement^="bottom"] .react-datepicker__triangle::before {
  border-bottom-color: white;
}
