@import '_variables';
@import '_mixins';

// Centered container element
@mixin container-fixed($gutter: $grid-gutter-width) {
  max-width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-left:  floor(($gutter / 2));
  padding-right: ceil(($gutter / 2));
  @include clearfix;
}

.container {
  @include container-fixed;
  @media (min-width: $screen-sm-min) {
    width: $container-sm;
  }
  @media (min-width: $screen-md-min) {
    width: $container-md;
  }
  @media (min-width: $screen-lg-min) {
    width: $container-lg;
  }
}

.container-expanded {
  @media (min-width: $screen-lg-min) {
    width: $container-lg-expanded;
  }
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-row__group {
  flex: 1;
  &.flex-row__group--left {
    text-align: left;
  }
  &.flex-row__group--center {
    text-align: center;
  }
  &.flex-row__group--right {
    text-align: right;
  }
}
