@import '_variables';

.navbar {
  height: 56px;
  padding: 18px 0;
  box-sizing: border-box;
  border-bottom: 2px solid rgb(240, 240, 240);
  background-color: white;
  & a, a:active, a:visited {
    font-weight: bold;
    text-decoration: none;
    margin-right: 52px;
    color: rgb(93, 93, 93);
  }
  & .navbar-user {
    margin-right: 20px;
    display: inline-block
  }
}

.nav-dropdown {
  display: inline-block;
  position: relative;
}

.nav-dropdown-trigger {
  font-weight: bold;
  &:hover {
    cursor:pointer;
  }
}
.nav-dropdown-content {
  position: absolute;
  background-color: white;
  border-radius: $card-border-radius;
  padding: 8px 12px;
  box-sizing:content-box;
  box-shadow: $card-box-shadow;
  top: 2em;
  left: auto;
  right: 0;
  & a {
    font-weight: 400;
    &:hover {
      font-weight: 400;
    }
  }
}
